@layer base {
  html {
    font-family: var(--font-sans);
    color: var(--gray-9);
    background-color: var(--gray-0);
  }

  body {
    font-size: var(--font-size-1);
  }

  a {
    color: var(--link);
  }
}
